body {
    width: 100%;
	height: 100%;
    overflow: hidden;
	color: #fff;
	background: linear-gradient(-45deg, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.box1 {
    border-color: aqua;
    border-width:3vh;
    border-style: solid;
    height: 40vw;
    width: 40vw;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:1;
    transform: translate(-50%, -50%);

}
/*
 @-webkit-keyframes movingup {
    0%   {position: inherit; 
        transform:translate(50%, 50%); 
            border-color: aqua;
    border-width:3vh;
    border-style: solid;
    height: 40vw;
    width: 40vw;
}

    100% {position: inherit;
        transform:translate(0%, 0%);    
        border-width:0;
        width: 60%;}
}

@keyframes movingup {
    0%   {position: inherit; 
        transform:translate(50%, 50%); 
        border-color: aqua;
        border-width:3vh;
        border-style: solid;
        height: 40vw;
        width: 40vw; }
    
    10%   {
        width: 60%; 
        border-width:0;
}
    
    100% {position: inherit;
        transform:translate(0%, 0%);    
        width: 60%;
        border-width:0;

    }}
*/
.box1.is-active {


    border-width:0;
    width: 60%;
    height: 9vw;
    position: inherit;
    z-index: -1;
    transform:translate(0%, 0%);
    margin: 0;
    -webkit-animation: movingup 5s ease-in-out;
    animation: movingup 5s ease-in-out;

}
.box1.is-active h1 {
    font-size: 10vw;
    margin: 0;
    
}
.box1.is-active h2 {
    margin: 0;
    
}


h1 {
	font-family: AppleGothic;
	font-size: 12vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
    margin-bottom: 0;
}

h2 {
	font-family: AppleGothic;
	font-size: 1.5vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
    letter-spacing: 1vw;
    line-height: 0;
    margin-top: -20;
}

.ham_container {
    float: right;
    position: absolute;
    right: 0px;


}

.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 8px;
 -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-1 {
right: 0;
position: absolute;
margin-right: 3vh;}

.hamburger:hover{
  cursor: pointer;
}


.ham_container.is-active .line:nth-child(2){
  opacity: 0;
}

.ham_container.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.ham_container.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.ham_container.is-active .dropdown {
    height: 16vw;
    width: 25vw;
    border-width:3vh;
    z-index: 10000;
    position: absolute;
    right: 0px;

    
}
.ham_container .dropdown{
    height: 0vw;
    width: 0vw;    
    border-width:0vh;
    border-color: aqua;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    z-index: 10000;    
    background-color:rgba(104,186,220,0.5);

}
.a_container {
    padding-top: 23px;

}
.ham_container .dropdown p {
    font-family: AppleGothic;
    justify-content: center;
    text-align: center;
    font-size: 0px;
    margin-top: 3vh;
    display: none;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in-out;
}
.ham_container .dropdown p:hover {
    color: black;
}
.ham_container.is-active .dropdown p {
    display: block;
    font-size: 3vw;

}
.frame .graphic_frame,.frame .web_frame,.frame .contact_frame{
    transition: all 0.5s ease-in-out;
    width: 95.5vw;  
    z-index: -1;
    position: fixed;

}
.frame {
    transition: all 0.5s ease-in-out;
    width: 95.5vw;  
    z-index: -1;
    position: fixed;
    bottom: -9000px;

}

.frame iframe{
    width: 95.5vw;  
    margin: auto 0;
    height: 75vh;
    border-width:3vh;
    border-color: aqua;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    z-index: 1;

}


.frame .graphic_frame.is-active, .frame .web_frame.is-active, .frame .contact_frame.is-active{
    position: fixed;
    bottom: 0;
    height: 75vh;
    width: 95.5vw;  
    margin-left: 0;



}